# Data Science Tools and Ecosystem

In this notebook, Data Sciences Tools and Ecosystem are summarized.

**Objective**
- Create Markdown cells
- List populare Tools used by data scientists
- List common data sciences libraries
- Create code cells to multiply and add numbers

Some popular languages that Data Scientist use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientist include:

1. Pandas
2. Matplolib
3. NumPy

 |Data Science Tools|
 |------------------|
 |Jupyter Notebook|
 |Jupyter Lab|
 |R Studio|
 |Spyder|
 |Appache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Jean-Philippe Fleury